<section class="about-brief-history">
  <div class="page-width">
    {% for block in section.blocks %}
    <div class="brief-history-row">
      <div class="brief-history-column">
        <div class="brief-history-text-col">
        {% if block.settings.heading != blank  %}
        <h1> {{ block.settings.heading }} </h1>
        {% endif %}
        <p>{{ block.settings.info }}</p>
        </div>
      </div>
      <div class="brief-history-img-column">
        <div class="brief-history-img">
          {% if block.settings.image != blank  %}
          <img src="{{ block.settings.image | img_url: 'master' }}" alt="{{block.settings.image.alt}}" loading="lazy">
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
    <div class="about-breif-cus-main-img">
      <img src="https://cdn.shopify.com/s/files/1/0666/2904/2400/files/Frame_17.png?v=1666696438">
    </div>
  </div>
</section>



{% schema %}
  {
    "name": "About Brief history",
    "settings": [],
    "blocks":
    [
        {
           "name" : "Text with Image",
           "type" : "text_with_image",
            "limit" : 2,
            "settings":
            [
                {
                   "type" : "text",
                  "id" : "heading",
                    "label" : "Heading"
                },
                {
                   "type" : "textarea",
                  "id" : "info",
                    "label" : "Text"
                },
                {
                   "type" : "image_picker",
                  "id" : "image",
                    "label" : "Image"
                }
            ]
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}