<section class="what-needs-are">
  <div class="page-width">
    <div class="what-needs-are-row">
      <div class="whats-needs-text-col">
        <div class="whats-needs-text">
        <h1>What Needs are Waiting to be Fulfilled?</h1>
        <p>“Xtreme” supplement marketing embarrasses them, that is not their identity. They do want to take supplements that boost their workouts & their game, but they want well-studied, proven, effective supplements, not ridiculous claims that clearly are false. And they want to make sure there is nothing that will hurt their health in the supplements they take, they only want “clean-label” supps that can make a real impact on their psyches or physique.
          These are people who know they are never going to become Professional athletes,
 but nonetheless continue to workout & play sports regularly.</p>
        </div>
      </div>
      <div class="whats-needs-img-col">
        <img src="https://cdn.shopify.com/s/files/1/0666/2904/2400/files/whats-need-img.png?v=1664789728">
      </div>
    </div>
  </div>
</section>



{% schema %}
  {
    "name": "What Need Are",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}