<section class="about-banner">
  <div class="about_banner_text">
    <h1>About Us</h1>
    <div class="cus-breadcrumb">
      <ul>
        <li><a href="#">Home</a></li>
        <li>About Us</li>
      </ul>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "About Banner",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}