<section class="contact-info-section">
  <div class="page-width">
    <div class="contact-info-flex">
      <div class="contact-info-col">
        <h2>Find Us</h2>
        <ul class="contact-info-list">
          <li><img src="https://cdn.shopify.com/s/files/1/0666/2904/2400/files/location-icon.png?v=1664887898"><span>4517 Washington Ave. Manchester, Kentucky 39495</span></li>
          <li><a href="#"><img src="https://cdn.shopify.com/s/files/1/0666/2904/2400/files/phone-icon.png?v=1664887914"><span>(239) 555-0108</span></a></li>
          <li><a href="#"><img src="https://cdn.shopify.com/s/files/1/0666/2904/2400/files/mail-icon2.png?v=1664887941"><span>bill.sanders@example.com</span></a></li>
          <li><a href="#"><img src="https://cdn.shopify.com/s/files/1/0666/2904/2400/files/email-icon.png?v=1664887963">bill.sanders@example.com</a></li>
        </ul>
        <div class="contact-info-social-icons">
          <ul>
            <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="contact-form-col">
        <div class="contact-form-col-content">
          <h3>We Want To Hear From You</h3>
          <form>
            <div class="contact-form-row">
              <div class="input-container">
                <input type="text" placeholder="First Name">
              </div>
              <div class="input-container">
                <input type="text" placeholder="Last Name">
              </div>
              <div class="input-container">
                <input type="tel" placeholder="Phone">
              </div>
              <div class="input-container">
                <input type="email" placeholder="Email">
              </div>
              <div class="input-container">
                <textarea placeholder="Message"></textarea>
              </div>
            </div>
            <div class="input-submit">
              <input type="submit" value="Send Message">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>



{% schema %}
  {
    "name": "Contact Info And Form",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}