<section class="features-content-sec">
  <div class="features-content-main-row">
    <div class="page-width">
      <div class="stronge-muscle-row">
        <div class="stronge-muscle-img-col">
          <img src="https://cdn.shopify.com/s/files/1/0666/2904/2400/files/strong-muscle-img1.png?v=1664793737">
        </div>
        <div class="stronge-muscle-text-col">
          <h2>Stronge Muscle</h2>
          <p>Sceletium tortuosum contains mesembrine and the related alkaloids mesembranol and mesembranone.
            Mesembrine is known for its effects on the central nervous system.
            The compounds may also act as serotonin-uptake inhibitors,
            and in specified doses possibly act as anti-depressants, minor tranquilizers and anxiolytics used
            in the treatment of mild to moderate depression.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="features-content-main-row">
    <div class="page-width">
      <div class="stronge-muscle-row">
        <div class="stronge-muscle-img-col">
          <img src="https://cdn.shopify.com/s/files/1/0666/2904/2400/files/strong-muscle-img2.png?v=1664793738">
        </div>
        <div class="stronge-muscle-text-col">
          <h2>Stronge Muscle</h2>
          <p>Sceletium tortuosum contains mesembrine and the related alkaloids mesembranol and mesembranone.
            Mesembrine is known for its effects on the central nervous system.
            The compounds may also act as serotonin-uptake inhibitors,
            and in specified doses possibly act as anti-depressants, minor tranquilizers and anxiolytics used
            in the treatment of mild to moderate depression.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="features-content-main-row">
    <div class="page-width">
      <div class="stronge-muscle-row">
        <div class="stronge-muscle-img-col">
          <img src="https://cdn.shopify.com/s/files/1/0666/2904/2400/files/strong-muscle-img3.png?v=1664793738">
        </div>
        <div class="stronge-muscle-text-col">
          <h2>Stronge Muscle</h2>
          <p>Sceletium tortuosum contains mesembrine and the related alkaloids mesembranol and mesembranone.
            Mesembrine is known for its effects on the central nervous system.
            The compounds may also act as serotonin-uptake inhibitors,
            and in specified doses possibly act as anti-depressants, minor tranquilizers and anxiolytics used
            in the treatment of mild to moderate depression.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="features-content-main-row">
    <div class="page-width">
      <div class="stronge-muscle-row">
        <div class="stronge-muscle-img-col">
          <img src="https://cdn.shopify.com/s/files/1/0666/2904/2400/files/strong-muscle-img4.png?v=1664793738">
        </div>
        <div class="stronge-muscle-text-col">
          <h2>Stronge Muscle</h2>
          <p>Sceletium tortuosum contains mesembrine and the related alkaloids mesembranol and mesembranone.
            Mesembrine is known for its effects on the central nervous system.
            The compounds may also act as serotonin-uptake inhibitors,
            and in specified doses possibly act as anti-depressants, minor tranquilizers and anxiolytics used
            in the treatment of mild to moderate depression.</p>
        </div>
      </div>
    </div>
  </div>
</section>




{% schema %}
  {
    "name": "Features Content",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}