<section class="latest-stories">
  <h1>Latest Stories</h1>
  <div class="latest-stories-slider owl-carousel">
    <div class="item">
      <div class="lastest-story-col">
        <a href="#" class="latest-story-img">
          <img src="https://cdn.shopify.com/s/files/1/0666/2904/2400/files/latest-story-img1.png?v=1664450226">
        </a>
        <div class="lastest-story-text">
          <h4>Sfetas:How Erdogan instrumentalises the Ottomans</h4>
          <a href="#">Read More <img src="https://cdn.shopify.com/s/files/1/0666/2904/2400/files/story-right-arrow.png?v=1664533310"></a>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="lastest-story-col">
        <a href="#" class="latest-story-img">
          <img src="https://cdn.shopify.com/s/files/1/0666/2904/2400/files/latest-story-img2.png?v=1664968532">
        </a>
        <div class="lastest-story-text">
          <h4>Global energy transition: three trillion for economy and climate</h4>
          <a href="#">Read More <img src="https://cdn.shopify.com/s/files/1/0666/2904/2400/files/story-right-arrow.png?v=1664533310"></a>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="lastest-story-col">
        <a href="#" class="latest-story-img">
          <img src="https://cdn.shopify.com/s/files/1/0666/2904/2400/files/latest-story-img3.png?v=1664968553">
        </a>
        <div class="lastest-story-text">
          <h4>The new residence of King Juan Carlos and its judicial consequences</h4>
          <a href="#">Read More <img src="https://cdn.shopify.com/s/files/1/0666/2904/2400/files/story-right-arrow.png?v=1664533310"></a>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="lastest-story-col">
        <a href="#" class="latest-story-img">
          <img src="https://cdn.shopify.com/s/files/1/0666/2904/2400/files/latest-story-img4.png?v=1664968566">
        </a>
        <div class="lastest-story-text">
          <h4>Sfetas:How Erdogan instrumentalises the Ottomans</h4>
          <a href="#">Read More <img src="https://cdn.shopify.com/s/files/1/0666/2904/2400/files/story-right-arrow.png?v=1664533310"></a>
        </div>
      </div>
    </div>
  </div>
</section>



{% schema %}
  {
    "name": "Latest story",
    "settings": [],
    "presets":[
      {
      "name": "Latest story",
      "category" :"Custom Section"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}