<section class="who-are-they-sec" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/2904/2400/files/who-they-are-bg.png?v=1664432304')">
  <div class="page-width">
    <div class="who-are-they-content">
      <h1>Who are they?</h1>
      <p>They are late 20’s to 65 year old successful and active men and women, who are upper middle class, and live healthy and social lives.
        They shop at Whole Foods and Farmer’s Markets. These are well to do, well-educated active adults.</p>
      <div class="who-are-they-btns">
        <a href="#" class="who-readmore cus-site-btn"><span>Read More</span></a>
        <a href="#" class="who-phone"><img src="https://cdn.shopify.com/s/files/1/0666/2904/2400/files/phone-svg.svg?v=1664956360">(505) 555-0125</a>
      </div>
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "Who Are They",
    "settings": [],
    "presets":[
      {
      "name": "Who Are They",
      "category":"Custom Sections"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}