<section class="home-video-sec">
  <div class="page-width">    
        <div class="home-video-bg" loading="lazy" style="background-image:url('{{ section.settings.background_image | img_url: "master" }}')">
      <a href="{{ section.settings.background_url }}" data-fancybox=""><span>Play</span></a>
    </div>
  </div>
</section>



{% schema %}
  {
    "name": "Home Video",
    "settings": 
    [
        {
          "type" : "image_picker",
          "id" : "background_image",
            "label" : "Background Image" 
        },
        {
          "type" : "text",
          "id" : "background_url",
            "label" : "URL" 
        }
    ],
    "presets":[
      {
        "name": "Home Video",
        "category":"Custom Section"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}