<section class="home-video-sec">
  <div class="page-width">
    <div class="home-video-bg" style="background-image:url('https://cdn.shopify.com/s/files/1/0666/2904/2400/files/home-video-bg.png?v=1664443883')">
      <a href="#"><span>Play</span></a>
    </div>
  </div>
</section>



{% schema %}
  {
    "name": "Home Video",
    "settings": [],
    "presets":[
      {
        "name": "Home Video",
        "category":"Custom Section"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}