<section class="home-featured-product">
  <div class="page-width">
    <div class="home-featured-product-row">
      <div class="home-featured-content-col">
        <div class="home-featured-text">
          <h1>Nutritions Kannect</h1>
          <div class="home-featured-price">
            <h3>Price: $84</h3>
            <p>Sceletium tortuosum contains mesembrine and the related alkaloids mesembranol and mesembranone. </p>
            <div class="readmore-add-to-cart">
              <a href="#" class="cus-site-btn"><span>Read More</span></a>
              <button>Add To Cart +</button>
            </div>
          </div>
        </div>
      </div>
      <div class="home-featured-img-col">
        <img src="https://cdn.shopify.com/s/files/1/0666/2904/2400/files/kannect-img.png?v=1664429124">
      </div>
    </div>
  </div>
</section>





{% schema %}
  {
    "name": "Home Featured Product",
    "settings": 
    [
        {
           "type" : "product",
            "id" : "featured_product",
            "label" : "Featured Product"
        }
    ],
    "presets": [
      {
        "name":"Home Featured Product",
        "category" : "Custom Sections"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}