<footer>
  <div class="page-width">
    <div class="footer-row">
      <div class="footer-logo">
        <a href="#"><img src="https://cdn.shopify.com/s/files/1/0666/2904/2400/files/logo.png?v=1664259557"></a>
      </div>
      <div class="footer-nav">
        <ul>
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Features</a></li>
          <li><a href="#">Shop</a></li>
          <li><a href="#">contact us</a></li>
        </ul>
      </div>
      <div class="footer-social-icons">
        <ul>
          <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="page-width">
      <div class="footer-bottom-row">
    <p>Copyright © 2022 Nutrition Konnect - All Rights Reserved.</p>
    <div class="footer-bottom-links">
      <ul>
        <li><a href="#">ingredients</a></li>
        <li><a href="#">FAQ’s</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms & Conditions</a></li>
      </ul>
    </div>
    </div>
  </div>
  </div>
</footer>





{% schema %}
  {
    "name": "New footer",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}