<section class="about-banner">
  <div class="about_banner_text">
    <h1>{{ page_title }}</h1>
    <div class="cus-breadcrumb">
      <ul>
        <li><a href="/">Home</a></li>
        <li>{{ page_title }}</li>
      </ul>
    </div>
  </div>
</section>



{% schema %}
  {
    "name": "Pages Banner",
    "settings": [
    ],
    "presets":[
      {
      "name" : "Pages Banner",
      "category" : "Custom Sections"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}