<section class="product-detail-tabing">
  <div class="page-width">
    <div class="tab">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when "description" %}
            <button class="tablinks active" onclick="openCity(event, 'description')">Description</button>
         {% when "additional" %}
            <button class="tablinks" onclick="openCity(event, 'additionalinfo')">Additional Information</button>
         {% when "@app" %}
            <button class="tablinks" onclick="openCity(event, 'reviews')">Reviews</button>
      {% endcase %}
      {% endfor %}
    </div>
     <div class="main-tabcontent">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when "description" %}
                <div id="description" class="tabcontent" style="display:block;">
              {{ product.description }}
            </div>
             {% when "additional" %}
                <div id="additionalinfo" class="tabcontent">
              <div class="additional-tables">
                {{ block.settings.ingredient_name }}
              </div>
            </div>
             {% when "@app" %}
                <div id="reviews" class="tabcontent">
                  {% render block %}
                </div>
          {% endcase %}
        {% endfor %}
     </div>
  </div>
</section>
<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>





{% schema %}
  {
    "name": "Product Tabbing",
    "settings": [],
    "blocks":
    [
        {
            "type" : "@app"           
        },
        {
          "type" : "description",
            "name" : "description",
            "limit" : 1
        },
        {
            "type" : "additional",
            "name" : "Additional Information",
            "limit" : 1,
            "settings":
            [
                {
                  "type" : "html",
                  "id" : "ingredient_name",
                  "label" : "Ingredient Name"
                }
            ]
        } 
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}